# Ignore object files and libraries
*.o
*.so
*.a
# Ignore mex files
*.mex*
# Ignore R files and libraries
rstls.Rcheck
rstls*.tar.gz
# Ignore copied files
rstls/src/stls/*
rstls/src/SLICOT/*
# Ignore test results
res_*.txt
test_c/test
test_c/gmon.out
test_m/octave-core
test_m/support/octave-core


