*
!slra_algorithm.pdf
!slra.pdf
!s2s.m
!example_aut_sysid.m
!example_gcd.m
!print_fig.m
!s_old2s.m
!sylvester.m
!misfit_ext.m
!slra_ext.m
!R2th.m
!lra.m
!aut_sys_traj.mat
!.gitignore
!example_aut.m
!example_sysid.m
!example_ddsim.m
!example_gcd.m
!mult_mat.m
!vec.m
!blkhank.m
!h2ss.m
!siam-rev.txt
!overview-readme.txt
